<div>
    <form class="search-container" (ngSubmit)="findByCars()">
        <input type="text" placeholder="Placa..." [(ngModel)]="plate" name="placa">
        <input list="empresas" placeholder="Empresa..." [(ngModel)]="enterprise" name="empresa">
        <datalist id="empresas">
            <option value="Empresa A"></option>
            <option value="Empresa B"></option>
            <option value="Empresa C"></option>
            <option value="Empresa D"></option>
        </datalist>
        <select [(ngModel)]="type" name="tipo">
            <option value="">Tipo...</option>
            <option value="Car">Car</option>
            <option value="caminhao">Caminhão</option>
            <option value="van">Van</option>
        </select>
        <input type="text" placeholder="Vencimento..." [(ngModel)]="vencimento" name="vencimento">
        <button type="submit">Buscar</button>
    </form>
</div>