<div>
    <form class="search-container" (ngSubmit)="findByCars()">
        <input type="text" placeholder="Placa..." [(ngModel)]="plate" name="placa">
        <input list="empresas" placeholder="Empresa..." [(ngModel)]="enterprise" name="empresa">
        <datalist id="empresas">
            <option *ngFor="let enterprise of enterprises" [value]="enterprise.name"></option>
        </datalist>
        <select [(ngModel)]="type" name="tipo">
            <option value="">Tipo...</option>
            <option *ngFor="let type of typeList" [value]="type">{{ type }}</option>
        </select>
        <input type="date" placeholder="Vencimento..." [(ngModel)]="vencimento" name="vencimento">
        <button type="submit">Buscar</button>
    </form>
</div>