<div class="register-container">
    <form>
        <h1><img src="https://img.icons8.com/?size=100&id=6LvtpL48Lmmx&format=png&color=000000" alt="Ícone"
                class="icon">
            Cadastro de Empresas</h1>
        <div class="div-container">
            <input type="text" placeholder="Nome Fantasia..." name="nome" [(ngModel)]="name" class="input-name">
            <input type="text" placeholder="CNPJ..." name="cnpj" [(ngModel)]="cnpj" class="input-cnpj">
        </div>
        <button class="button-conttainer-register" type="submit">Cadastrar Empresa</button>
    </form>
</div>