<div class="container-navbar">
    <div class="logo">
        <a href="/" title="Home">
            <img src="https://img.icons8.com/?size=100&id=9zcV0gKAozhn&format=png&color=000000" alt="Home Icon">
        </a>
    </div>
    <div class="navbutton">
        <button routerLink="/cars">Veículos</button>
        <button routerLink="/enterprises">Empresas</button>
        <button routerLink="/tasks">Serviços</button>
    </div>
    <div class="icon">
        <a href="/" title="Config">
            <img src="https://img.icons8.com/?size=100&id=N5jTjpBKVT8t&format=png&color=000000" alt="Config">
        </a>
    </div>
</div>