.tab-container {
    margin: 20px;
    border-radius: 16px;
    overflow: hidden;
    border: 4px solid var(--primary-color);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    overflow: hidden;
    table-layout: auto;
}

th, td {
    text-align: left;
    height: 30px; /* Definido para no máximo 30px */
    min-height: 30px; /* Garante que a altura mínima seja 30px */
    max-height: 30px; /* Garante que a altura máxima seja 30px */
    vertical-align: middle;
}

th {
    background-color: var(--primary-color) !important;
    color: white;
    font-weight: bold;
}

.clickable-row {
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  
    &:hover {
      background-color: rgba(0, 123, 255, 0.1);
    }
}

.id-colum {
    width: auto !important; 
    max-width: 30px !important;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
}

.place-colum {
    width: auto !important; 
    max-width: 50px !important;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
}

.emp-colum {
    width: auto !important; 
    max-width: 500px !important;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
}

.tipo-colum {
    width: auto !important; 
    max-width: 500px !important;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.venc-colum {
    width: auto !important; 
    max-width: 100px !important;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}