:root {
    --background-color: #9b9b9b;
    --primary-color: #103681;
    --button-color: #0e3b65;
    --button-hover: #2469a0;
  }

  html, body {
    height: 100%;
    margin: 0;
    background-color: var(--background-color);
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
